@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.mySwiper2 .swiper-slide-thumb-active {
  opacity: 1;
  background-color: blue;
}

/* body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue",
    Helvetica, Arial, sans-serif, system-ui;
  overflow: hidden;
}

body::before {
  --size: 60px;
  --line: color-mix(in lch, canvasText 35%, hsl(0 0% 100% / 0.25));
  content: "";
  height: 100svh;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-25deg, transparent 65%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
  z-index: -1;
}

main {
  transform-style: preserve-3d;
  position: relative;
  transition: scale 0.2s;
  height: 100vh;
  display: grid;
  place-items: center;
  width: 100%;
}

.container {
  --scroll-padding: 0px;
  --inner-angle: calc((360 / var(--total)) * 1deg);
  --item-width: clamp(120px, 20vmin, 12rem);
  --scroll-buff: calc(var(--item-width) * var(--scroll-ratio));
  --gap: calc(var(--item-width) * var(--gap-efficient, 0.1));
  --radius: calc(
    ((var(--item-width) + var(--gap)) / sin(var(--inner-angle))) * -1
  );
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 100%;
  overflow: auto;
  timeline-scope: --controller;
}

[data-infinite="true"] .container {
  --scroll-padding: calc(var(--item-width) * 0.01);
  --scroll-padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: rebeccapurple;
  margin: 0;
  display: grid;
}

img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background-color: color-mix(in lch, canvasText 25%, canvas);
}

h1 {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: color-mix(in lch, canvasText, transparent);
  opacity: 0;
  transition: opacity 0.2s;
}
[data-scroll="true"] h1 {
  opacity: 1;
}

.carousel {
  padding: 0;
  background-color: blue;
}

.carousel {
  display: flex;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.carousel-container {
  height: 100%;
  width: 100%;
  /* mask: linear-gradient(
    calc(90deg + (var(--rotate-z) * 1deg)),
    transparent 0 calc(50% - (var(--item-width) * var(--mask-upper))),
    white calc(50% - (var(--mask-lower) * var(--item-width)))
      calc(50% + (var(--mask-lower) * var(--item-width))),
    transparent calc(50% + (var(--mask-upper) * var(--item-width))) 100%
  ); */
/* pointer-events: none;
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  transform-style: preserve-3d;
  perspective: calc(var(--perspective) * 1px);
  overflow: hidden;
} */
/* 
[data-scroll="true"] .carousel::after,
[data-animate="true"] .carousel::after {
  animation: shine calc(var(--total) * 0.5s) infinite linear;
}
[data-scroll="true"] .carousel,
[data-animate="true"] .carousel {
  animation: carousel calc(var(--total) * 0.5s) infinite linear;
}
.carousel {
  transform-style: preserve-3d;
  transform: translate3d(0, 0, var(--radius))
    rotateX(calc(var(--rotate-x) * 1deg)) rotateZ(calc(var(--rotate-z) * 1deg))
    rotateY(0deg);
}

@keyframes carousel {
  to {
    transform: translate3d(0, 0, var(--radius))
      rotateX(calc(var(--rotate-x) * 1deg))
      rotateZ(calc(var(--rotate-z) * 1deg)) rotateY(-360deg);
  }
}

@supports (animation-timeline: scroll()) {
  [data-scroll="true"] .carousel,
  [data-scroll="true"] .carousel::after {
    animation-duration: auto;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timeline: --controller;
  }
/* }
 .carousel::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--item-width) * 1.5);
  height: calc(var(--item-width) * 1.5); 
  /* backdrop-filter: brightness(2); */
/* mask: radial-gradient(80% 80% at 50% 50%, white, transparent 50%); */
/* transform: translate(-50%, -50%) rotateY(0deg)
    translate3d(0, 0, calc((var(--radius) - 10px) * -1));
} */

/* @keyframes shine {
  to {
    transform: translate(-50%, -50%) rotateY(360deg)
      translate3d(0, 0, calc((var(--radius) - 10px) * -1));
  }
} */

/* [data-gsap="true"] .carousel::after {
  animation: none;
  transform: translate(-50%, -50%) rotateY(calc(var(--rotate) * 1deg))
    translate3d(0, 0, calc((var(--radius) - 10px) * -1));
} */

/* .carousel li {
  --debug: red;
  /* height: var(--item-width); */
/* aspect-ratio: 16/9; */
/* width: var(--item-width); */
/* width: 70vw; */
/* outline-offset: 2px; */
/* }  */
/* 
.carousel li {
  position: absolute;
  top: 50%;
  left: 80%;
  backface-visibility: hidden;
  transform: translate(-50%, -50%)
    rotateY(calc((var(--inner-angle) * var(--index))))
    translate3d(0, 0, calc(var(--radius) * -1));
}

[data-backface="true"] .carousel li {
  backface-visibility: visible;
}

.controller {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  scroll-snap-type: x mandatory;
  scroll-timeline: --controller inline;
  align-items: center;
  padding-inline: calc(
    (50vw + var(--scroll-padding)) - (var(--scroll-buff) * 0.5)
  );
}

[data-vertical="true"] .controller {
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-timeline: --controller;
  padding-inline: 0;
  padding-block: calc(
    (50svh + var(--scroll-padding)) - (var(--scroll-buff) * 0.5)
  );
}

.controller li {
  --debug: red;
  height: var(--scroll-buff);
  width: var(--scroll-buff);
  aspect-ratio: 1;
  flex: 1 0 auto;
  scroll-snap-align: center;
}

[data-debug="true"] li {
  outline: 2px dashed var(--debug);
} */
